.l_classify{background:#efefef;}
.l_searchd{width:968px;margin:0 auto;padding-top:10px;}
.l_searchd img{width:968px;}
.l_search{height:auto;padding-top:30px;background:#fff;margin-top:10px;}
.l_snum{padding-left:320px;}
.l_snum p{height:20px;font-size:14px;color:#424141;padding-left:22px;line-height:20px;padding-bottom:15px;background:url(img/search.jpg) no-repeat -282px 0;}
.l_snum p i{color:#f00;font-weight:bold;}
.l_shaix{position:relative;padding:10px 20px;}
.l_shaix dl{border-bottom:1px dotted #ccc;padding:7px 0;width:926px;height:20px;line-height:20px;}
.l_shaix dl dt{font-weight:bold;color:#333;float:left;padding:0 10px 0 25px;width:55px;height:20px;line-height:20px;}
.l_shaix dl dd{float:left;width:830px;min-height:21px;line-height:20px;}
.l_allpro{background:#00aebd;width:48px;margin-right:45px;height:20px;color:#fff;line-height:20px;text-align:center;float:left;}
.l_allpro a{color:#fff;}
.ddpro{background:0;}
.ddpro a{color:#000;}
.ddpros{width:60px;}
.l_fmore{float:right;padding-right:20px;width:53px;height:21px;}
.l_fmore a{width:53px;height:21px;background:url(img/sjjt.gif) no-repeat 0 -122px;display:inline-block;}
.l_fmore a:hover{background:url(img/sjjt.gif) no-repeat 0 -186px;}
.l_clascon{width:968px;margin:0 auto;}
.l_listcon{margin-top:10px;position:relative;}
.l_listnav{height:56px;}
.l_listnav ul{width:500px;float:left;padding-left:10px;margin-top:20px;}
.l_listnav li{float:left;font-size:12px;height:18px;position:relative;line-height:18px;text-align:center;}
.l_listnav li a{display:inline-block;width:52px;height:18px;color:#222;margin-left:5px;}
.l_listnav li a:hover{background:#00bfcf;color:#fff;}
.l_listnav .l_a{background:#00bfcf;color:#fff;}
.l_minbox{width:968px;margin:0 auto;}
.l_minbox li{width:314px;height:439px;margin-right:13px;margin-bottom:20px;position:relative;}
















